.waiting-time-list {
}

.waiting-time-item {
  // width: 100%;
  background: $dashboard-grey;
  border-radius: 8px;
  padding: 30px 25px;
  margin: 10px;

  @media (min-width: $desktop-breakpoint) {
    margin: 20px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: $font-size-large;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;

    @media (min-width: $tablet-breakpoint) {
      flex-direction: row;
    }
  }
}